
.p1 {
    font-style: small-caps;
    background: red;
    padding-left: 18px;
    }


.red {
    background-color: red;
    }


.h1 {
    color: red; 
    text-align: right;
}


.work5 { 
    background-color: rgb(241, 151, 241);
    width: 300px; margin-left: auto; margin-right: auto; 
}
.work5CSS {
    align-items: center;
    color: purple;
    text-shadow: 2px 2px 1px;
    font-size: 50px;
}
.work5slova {
    color: rgb(224, 104, 194);
    font-size: 30px;
}