
.p1 {
    font-style: small-caps;
    background: red;
    padding-left: 18px;
    }


.red {
    background-color: red;
    }


.h1 {
    color: red; 
    text-align: right;
}


.work5 { 
    background-color: rgb(241, 151, 241);
    width: 300px; margin-left: auto; margin-right: auto; 
}
.work5CSS {
    align-items: center;
    color: purple;
    text-shadow: 2px 2px 1px;
    font-size: 50px;
}
.work5slova {
    color: rgb(224, 104, 194);
    font-size: 30px;
}

.work6 {
    margin-left: 35%;
    background-color: aqua;
    width: 600px;
    height: 400px;
        }

.zag1 {
    font-size: 40px;
    padding-top: 5px;
    text-align: center;
    color: rgb(189, 12, 12);
}

.zag2 {
    font-size: 30px;
    text-align: center;
    color: blue;
}

.span {
    font-size: 40px;
    font-weight: initial;
    color: green;
}

.work7 {
    text-align: center;
    font-weight: bold;
    color: red;
    font-size: 20px;
}

.work7Text {
    font-size: 14px;
    font-family: 'Monotype Corsiva', cursive;
}

.work7img {
    width: 400px;
    height: 200px;
    border: 10px solid blue;
}

.table {
    border: 10px solid blue;
    border-collapse: collapse; 
    width: 100%; 
}

.th {
    background-color: yellow; 
    color: red; 
    border: 3px red dashed; 
    padding: 10px; 
}

.td {
    background-color: green; 
    border: 2px solid yellow; 
    padding: 10px; 
}