.t6{
    position: absolute;
    z-index: 2;
    font-size: 40px;
    color: aqua;
    top: 1520px;
}

.t5{
    position: absolute;
    z-index: 2;
    font-size: 40px;
    color: aqua;
    left: 180px;
    top: 1600px;
}

.pic3 {
    position: absolute;
    z-index: 1;
    width: 250px;
    height: 200px;
    margin-top: 50px;
    margin-left: 35px;
    border: 10px solid yellow; 
}

.pic4 {
    position: absolute;
    z-index: 0;
    width: 400px;
    height: 300px;
}